@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold md:leading-[43.57px];
  }

  p {
    @apply text-base leading-[25px];
  }
}

@layer utilities {
  .glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }

  .floating-nav {
    @apply bg-white text-black;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .myShadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.074);
  }
  .myContainer {
    @apply px-[3%] lg:px-[5%] py-16 max-w-[1440px] mx-auto;
  }

  .adminContainer {
    @apply py-10 pl-[3%] pr-[5%];
  }

  .nav-hover-btn {
    @apply relative ms-10 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-primary after:transition-transform after:duration-300 after:ease-custom-ease hover:after:origin-bottom-left hover:after:scale-x-100 cursor-pointer;
  }

  .myFlex {
    @apply flex items-center;
  }

  .input {
    @apply rounded-lg border-[0.3px] border-gray-200 focus:outline-0 focus:border-primary w-full p-3 text-base placeholder:text-myGray placeholder:text-sm;
  }

  .no-select {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
    pointer-events: none; /* Disable pointer interactions */
  }
}
